.table-container {
    background: #fff;
    max-height: 700px;
    max-width: 760px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.report {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 700px;
    justify-content: center;
    border: transparent;
    border-bottom: 1px solid black;
}
.report:hover {
    background: linear-gradient(135deg, #71b7e6, #20b2aa);
    border-color: transparent;
    color: #fff;
}
.upper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}
.lower {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}