.report-container {
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.report-header {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-between;
}

.opponent input,select {
    height: 30px;
    text-align: center;
}
.home input,select {
    height: 30px;
    text-align: center;
}
.opponent #opponent_team {
    width: 200px;
}
.home #home_team {
    width: 200px;
}
.opponent #opponent_score {
    width: 40px;
    margin-left: 40px;
}
.home #home_score {
    width: 40px;
    margin-right: 40px;
}
.formation-select {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.field-view {
    padding: 10px;
}
.summary {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.summary textarea {
    width: 290px;
    padding: 10px;
}
.save-report {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.save-report button {
    height: 30px;
    width: 200px;
    padding: 0 10px;
}
.save-report button:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #71b7e6, #20b2aa);
    border-color: transparent;
    color: #fff;
}